@import "tailwindcss";

body {
  cursor: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 24 24'><path fill='%23000' stroke='%23505050' stroke-width='1' d='M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z'/></svg>") 6 4, auto;
}


.container {
  width: 100%;
  max-width: 1184px; 
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

h1 {
  font-family: "Inter", sans-serif;
}

 #particles-js {
  position: fixed;
  inset: 0;
  z-index: 0; 
  pointer-events: none; 
  background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(2, 28, 64, 1) 100%);
}
.app-content {
  position: relative;
  z-index: 1;
  font-family: "Nata Sans", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
